# DATABASE
DB_HOST=localhost
DB_PORT=5432
DB_NAME=crm_db
DB_USER=crm_user
DB_PASSWORD=yourpassword

# AUTH
JWT_SECRET=yourjwtsecret
JWT_EXPIRES_IN=1d

# SERVER
PORT=3000
HOST=0.0.0.0
NODE_ENV=development
